* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto Mono", monospace;
  }

body{
  background-color: rgb(255, 246, 235);
}

/** Fonts */
/* font-family: 'Blaka', cursive;
font-family: 'DotGothic16', sans-serif;
font-family: 'Pirata One', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'VT323', monospace; */
/** Fonts */
